/*My CSS file for third HW (by Yuri Kamotsky)*/ 

/* 1. Добавление класса для стилизации блока (формы) с текстом: */
.block {
	cursor: pointer; /* Определение типа отображаемого курсора мыши при наведении на блок */
	width: 600px; /* Ширина таблицы */
	height: 865px; /* Высота таблицы */
	background-color: MediumSpringGreen; /* Цвет фона */ 
	color: rgb(0, 0, 0); /* Цвет шрифта в формате RGB */
	text-align: center; /* Выравнивание строк текста относительно границ элемента */
	padding: 5px; /* Внутренний отступ */
	margin: 10px auto; /* Внешний отступ */
	border: groove 4px Gray; /* Рамка элемента */
	border-radius: 15px; /* Радиус скругления для всех уголков рамки сразу */
	position: relative; /* Сделать блок относительным позиционированным */
	font-family: Georgia, serif; /* Семейство шрифта */
	font-size: 18px; /* Размер шрифта */
}

/* 2. Добавление класса для стилизации заголовка h1: */
.title {
	color: FireBrick; /* Цвет шрифта */
	font-style: italic; /* Стиль шрифта */
	text-shadow: 3px 3px 5px #000; /* Придание шрифту эффекта тени */
	margin: 15px 15px 25px 15px; /* Внешний отступ */
}

/* 3. Добавление класса для стилизации кнопки Send form: */
.button1 {
    background-color: #4CAF50; /* Цвет фона */ 
    border: none; /* Рамка элемента */
    color: white; /* Цвет шрифта */
    padding: 10px 60px 1px 60px; /* Внутренний отступ */
    text-align: center; /* Выравнивание строк текста относительно границ элемента */
    text-decoration: none; /* Отмена всех эффектов, в том числе и подчеркивания у ссылок, которое задано по умолчанию */
    display: inline-block; /* Генерирация блочного элемента, который обтекается другими элементами веб-страницы подобно встроенному элементу */
    font-size: 16px; /* Размер шрифта */
	font-family: "Arial Black", Gadget, sans-serif; /* Семейство шрифта */
    margin: 1px 35px; /* Внешний отступ */
    -webkit-transition-duration: 0.4s; /* Длительность анимированного перехода из одного значения в другое */
    transition-duration: 1s; /* Время в секундах, сколько должна длиться анимация перехода до её завершения */
    cursor: pointer; /* Определение типа отображаемого курсора мыши при наведении на блок */
	float: right; /* Сделать элемент плавающим, смещая его к правому краю родительского элемента */
}
.button1 {
    background-color: white; /* Цвет фона */ 
    color: black; /* Цвет шрифта */
    border: 2px solid #4CAF50; /* Рамка элемента */
	border-radius: 15px; /* Радиус скругления для всех уголков рамки сразу */
}
.button1:hover { /* Выбирает элемент, когда на него наводится курсор мыши */
    background-color: #4CAF50; /* Цвет фона */
    color: white; /* Цвет шрифта */
}

/* 4. Добавление класса для стилизации кнопки Reset form: */
.button2 {
	background-color: #4CAF50; /* Цвет фона */ 
    border: none; /* Рамка элемента */
    color: white; /* Цвет шрифта */
    padding: 10px 60px 1px 60px; /* Внутренний отступ */
    text-align: center; /* Выравнивание строк текста относительно границ элемента */
    text-decoration: none; /* Отмена всех эффектов, в том числе и подчеркивания у ссылок, которое задано по умолчанию */
    display: inline-block; /* Генерирация блочного элемента, который обтекается другими элементами веб-страницы подобно встроенному элементу */
    font-size: 16px; /* Размер шрифта */
	font-family: "Arial Black", Gadget, sans-serif; /* Семейство шрифта */
    margin: 1px 35px; /* Внешний отступ */
    -webkit-transition-duration: 0.4s; /* Длительность анимированного перехода для заданного CSS-свойства из одного значения в другое */
    transition-duration: 1s; /* Задаёт время в секундах, сколько должна длиться анимация перехода до её завершения */
    cursor: pointer; /* Определение типа отображаемого курсора мыши при наведении на блок */
	float: left; /* Сделать элемент плавающим, смещая его к правому краю родительского элемента */
}
.button2 {
    background-color: white; /* Цвет фона */
    color: black; /* Цвет шрифта */
    border: 2px solid #f44336; /* Рамка элемента */
	border-radius: 15px; /* Радиус скругления для всех уголков рамки сразу */
}
.button2:hover { /* Выбирает элемент, когда на него наводится курсор мыши */
    background-color: #f44336; /* Цвет фона */
    color: white; /* Цвет шрифта */
}

/* 5. Добавление класса для стилизации знака *: */
span.asterisk {color: red;} /* Цвет шрифта */

/* 6. Добавление класса для стилизации раздела Your country */ 
.country {
	width: 85%; /* Ширина */
    padding: 10px; /* Внутренний отступ */
	border-radius: 10px; /* Радиус скругления для всех уголков рамки сразу */
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.9); /* Параметры тени */
	font-size: 16px; /* Размер шрифта */
	font-family: Georgia, serif; /* Семейство шрифта */
}

/* 7. Добавление класса для стилизации раздела Your city */ 
.city {
	width: 81%; /* Ширина */
    padding: 10px; /* Внутренний отступ */
	margin: 1px 1px 1px 16px; /* Внешний отступ */
    border-radius: 10px; /* Радиус скругления для всех уголков рамки сразу */
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.9); /* Параметры тени */
	font-size: 16px; /* Размер шрифта */
	font-family: Georgia, serif; /* Семейство шрифта */
}

/* 8. Добавление класса для стилизации раздела First name */ 
.fName {
	width: 81%; /* Ширина */
    padding: 10px; /* Внутренний отступ */
    border-radius: 10px; /* Радиус скругления для всех уголков рамки сразу */
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.9); /* Параметры тени */
	font-size: 16px; /* Размер шрифта */
	font-family: Georgia, serif; /* Семейство шрифта */
}

/* 9. Добавление класса для стилизации раздела Last name */ 
.lName {
	width: 81%; /* Ширина */
    padding: 10px; /* Внутренний отступ */
    border-radius: 10px; /* Радиус скругления для всех уголков рамки сразу */
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.9); /* Параметры тени */
	font-size: 16px; /* Размер шрифта */
	font-family: Georgia, serif; /* Семейство шрифта */
}

/* 10. Добавление класса для стилизации раздела Date of birth */ 
.dBirth {
	width: 63%; /* Ширина */
    padding: 10px; /* Внутренний отступ */
	margin: 1px 1px 1px 16px;
    border-radius: 10px; /* Радиус скругления для всех уголков рамки сразу */
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.9); /* Параметры тени */
	font-size: 16px; /* Размер шрифта */
	font-family: Georgia, serif; /* Семейство шрифта */
}

/* 11. Добавление класса для стилизации раздела Your phone number */ 
.phone {
	width: 81%; /* Ширина */
    padding: 10px; /* Внутренний отступ */
    border-radius: 10px; /* Радиус скругления для всех уголков рамки сразу */
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.9); /* Параметры тени */
	font-size: 16px; /* Размер шрифта */
	font-family: Georgia, serif; /* Семейство шрифта */
}

/* 12. Добавление класса для стилизации раздела Email */ 
.email {
	width: 81%; /* Ширина */
    padding: 10px; /* Внутренний отступ */
    border-radius: 10px; /* Радиус скругления для всех уголков рамки сразу */
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.9); /* Параметры тени */
	font-size: 16px; /* Размер шрифта */
	font-family: Georgia, serif; /* Семейство шрифта */
}

/* 13. Добавление класса для стилизации раздела File */ 
.file {
	width: 81%; /* Ширина */
    padding: 10px; /* Внутренний отступ */
	margin: 1px 1px 1px 15px; /* Внешний отступ */
    border-radius: 10px; /* Радиус скругления для всех уголков рамки сразу */
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.9); /* Параметры тени */
	font-size: 16px; /* Размер шрифта */
	font-family: Georgia, serif; /* Семейство шрифта */
}

/* 14. Добавление класса для стилизации раздела Message */ 
.message {
	width: 74%; /* Ширина */
    padding: 30px; /* Внутренний отступ */
	margin: 1px 1px 1px 15px; /* Внешний отступ */
    border-radius: 10px; /* Радиус скругления для всех уголков рамки сразу */
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.9); /* Параметры тени */
	text-align: left; /* Выравнивание строк текста относительно границ элемента */
	font-size: 16px; /* Размер шрифта */
	font-family: Georgia, serif; /* Семейство шрифта */
}